Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  google-*,
  clang-analyzer-*

  -portability-avoid-pragma-once

WarningsAsErrors: '*'

HeaderFilterRegex: '^.*/(include|src)/'

FormatStyle: file

